.friendList {
  list-style: none;
  width: 400px;
  margin: 24px auto;
  border: 1px solid #afb1b8;
  padding: 15px;
}

.item {
  padding: 4px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item:nth-last-child(1) {
  margin-bottom: 0px;
}

.status {
  width: 24px;
  height: 24px;
  background-color: #353535;
  border-radius: 50%;
}

.avatar {
  margin-left: 10px;
}

.name {
  margin-left: 10px;
}
